importFrom(StatDA,edaplot)
importFrom(graphics,hist,stripchart,abline,axis,image,pairs)
importFrom(stringr,str_replace_all)
importFrom(geoR,boxcoxfit)
importFrom(car,bcPower)
importFrom(zoom,zm)
importFrom(AnalyzeFMRI,centering)
importFrom(MASS,cov.mcd,huber,ginv)
importFrom(gdata,installXLSXsupport,read.xls)
importFrom(gplots,colorpanel,redblue,barplot2)
importFrom(pcaMethods,pca,prep,loadings)
importFrom(chemometrics,pcaVarexpl,pcaCV)
importFrom(pracma,randperm)
importFrom(matrixcalc,upper.triangle,matrix.trace,matrix.inverse)
importFrom(pls,pcr,RMSEP,R2,plsr)
import(MenuCollection)
## Exported functions:
export(chemo_toolbar)
export(DH_workspace_management)
export(DH_magnify)
export(DH_dataset_column)
export(DH_dataset_row)
export(DH_export_CSV)
export(DH_export_TXT)
export(DH_load_csv)
export(DH_load_txt)
export(DH_load_xls)
export(UN_average_arithmetic)
export(UN_average_geometric)
export(UN_average_robust_huber)
export(UN_average_robust_median)
export(UN_dispersion_robust_IRQ)
export(UN_dispersion_robust_MAD)
export(UN_dispersion_robust_sMAD)
export(UN_dispersion_RSD)
export(UN_dispersion_sd)
export(UN_dispersion_var)
export(UN_plot_boxplot)
export(UN_plot_density)
export(UN_plot_edaplot)
export(UN_plot_hist)
export(UN_plot_stripchart)
export(UN_plot_Y)
export(UN_summary)
export(BI_covariance)
export(BI_kendall)
export(BI_spearman)
export(BI_robust_MCD)
export(BI_plot_cor)
export(BI_plot_pairs)
export(BI_plot_XY)
export(TR_column_01)
export(TR_column_11)
export(TR_column_autoscale)
export(TR_column_boxcox)
export(TR_column_centering)
export(TR_column_der_first)
export(TR_column_der_second)
export(TR_column_length1)
export(TR_column_logit)
export(TR_column_max100)
export(TR_column_rubust_centerscale)
export(TR_column_scaling)
export(TR_column_sum100)
export(TR_global_centering)
export(TR_global_centerlogit)
export(TR_global_isologit)
export(TR_row_autoscale)
export(TR_row_der_first)
export(TR_row_der_second)
export(TR_row_sum100)
export(DST_euclidean)
export(DST_mahalanobis_MCD)
export(DST_manhattan)
export(DST_maximum)
export(PCA_biplot)
export(PCA_cumulative_var_plot)
export(PCA_diagnostic_cont_plot)
export(PCA_cont_plot_Dataset)
export(PCA_diagnostic_plot_t2q)
export(PCA_diagnostic_plot_t2vsq)
export(PCA_explained_variance_variable)
export(PCA_extract)
export(PCA_loading_plot_bar)
export(PCA_loading_plot_scatter)
export(PCA_model_PCA)
export(PCA_model_varimax)
export(PCA_number_pcs_determination)
export(PCA_projection_training_set)
export(PCA_score_plot)
export(PCA_t2vsq_Dataset)
export(PCA_variance_plot)
export(DOE_coefficients)
export(DOE_CVresiduals_experimental)
export(DOE_doptimal)
export(DOE_doptadd)
export(DOE_experimental_fitted)
export(DOE_experimental_predicted)
export(DOE_leverage_surface)
export(DOE_model_computation)
export(DOE_prediction)
export(DOE_residuals_fitting)
export(DOE_response_surface)
export(W3_extract)
export(W3_model)
export(W3_plot_conditions)
export(W3_plot_objects)
export(W3_plot_rmse_conditions)
export(W3_plot_rmse_objects)
export(W3_plot_rmse_variables)
export(W3_plot_triplot)
export(W3_plot_variables)
export(W3_plot_variance)
export(CAL_biplot)
export(CAL_coefficients)
export(CAL_experimental_calculated)
export(CAL_extract)
export(CAL_model_computation_PCR)
export(CAL_model_computation_PLS1)
export(CAL_model_computation_PLS2)
export(CAL_prediction)
export(CAL_residuals)
export(CAL_scores)
export(CAL_xloadings)
export(CL_extract)
export(CL_method_LDA)
export(CL_method_QDA)
export(CL_plot_mahalanobis)
export(CL_plot_mahalanobis_cat)
export(CL_plot_mahalanobis_obj)
export(CL_pre_mahalanobis)
export(CL_pre_mahalanobis_cat)
export(CL_pre_mahalanobis_obj)
export(CL_prediction_LDA)
export(CL_prediction_QDA)

